anyio
asgiref
async-generator
backports.zoneinfo
certifi
charset-normalizer
contextvars
dataclasses
dateparser
Django
django-cors-headers
django-rest-framework
djangorestframework
dnspython
email-validator==1.3.0
gunicorn
whitenoise
h11
httpcore
httpx
idna
gunicorn
immutables
importlib-resources==5.4.0
psycopg2
pydantic
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
pyuploadcare
regex
requests
rfc3986
sib-api-v3-sdk
six
sniffio
sqlparse
typing-extensions
tzdata
tzlocal
uploadcare
urllib3
zipp
